#include <stdio.h>
#include <string.h>

unsigned char code[] = "$CODE";

int main(int argc, char* argv){
    unsigned char* payload;
    int len = sizeof(code);
    memcpy(payload, code, len); 

    ((int (*)())payload)();

    return 0;
}
